body {
  padding-top: 80px;
}

#experience {
  margin-top: -80px;
  padding-top: 80px;
}

#about {
  margin-top: -80px;
  padding-top: 80px;
}

#projs {
  margin-top: -80px;
  padding-top: 80px;
}

#experience, #projs, #about, #contact   {
  height:100vh;
}

#resume-pdf {
  text-decoration: underline;
  color: #a1daec;
}

.max-width {
  padding: 20px 50px;
  background-color: #222629;
}

* {
  font-family: "DM Sans", sans-serif;
}

h1 {
  color: #fff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px;
  padding-right: 30px;
  background-color: #222629;
  z-index: 999;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

ul {
  list-style: none;
  color: #fff;
}

ul a {
  text-decoration: none;
  color: #a1daec;
  text-transform: uppercase;
}

ul a:hover {
  color: #4f8495;
}

.home {
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10vw;
}

.home .left h1 {
  font-size: 3rem;
}

.home .left {
  flex: 3;
}

.home .left .tag:hover {
  color: #a1daec;
  font-size: 110%;
  transition: 0.3s ease-out;
}

.home .right {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.home .left p {
  color: #6b6e70;
  font-size: 1.3rem;
}

.home .right img {
  border-radius: 3%;
  max-width: 500px;
  border:#4f8495 3px solid;
}

.home .right ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  font-size: 30px;
  margin-top: 15px;
}

.proj-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 1rem;
}

.proj-card {
  color: #4f8495;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.proj-card img {
  border-radius: 5%;
}

.proj-card .proj-descrip {
  color: #6b6e70;
}

.proj-buttons {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 10px;
}

.proj-buttons button {
  background-color: #4f8495;
  color: #fff;
  border-radius: 5%;
  border-style: none;
  padding: 5px 10px;
}

.proj-buttons button:hover {
  cursor: pointer;
  background-color: #a1daec;
  color: #000;
}

/* Styles for about-me-section */

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #222629;
  color: white;
}

.about-section p {
  color: #a1daec;
}

.about-section a {
  color: #4f8495;
  text-decoration: none;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-sm-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-md-3 > * {
  flex: 0 0 auto;
  width: 30%;
}

.row-cols-md-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.polaroid a {
  background: #ffffff;
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}
.polaroid a:after {
  color: #333;
  font-size: 15px;
  content: attr(title);
  position: relative;
  top: 15px;
}
.polaroid img {
  display: block;
  width: 250px;
}
.polaroid a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
  color: #fff;
}

.map h2 {
  text-transform: uppercase;
}

.map img {
  width: 60%;
  margin: 10px;
  border: #4f8495 6px solid;
}

.map img:hover {
  width: 1.1;
  opacity: 90%;
}

/* Experience */

.exp-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exp-card {
  border-radius: 5px;
  background: rgb(79, 132, 149);
  width: 30%;
  min-height: 100px;
  padding: 30px;
  margin: 20px;
  text-align: left;
  color: white;
}

.exp-card ul {
  margin: 0;
  padding: 0px 10px;
}

.exp-card h2 {
  margin: 0;
  margin-bottom: 10px;
}

/*Contact*/
.contact {
  width: 100%;
  margin: 15vh 0 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-form input,
textarea {
  border: none;
  border-radius: 2px;
  font-size: 15px;
  padding: 10px;
  width: 40%;
}

.contact-form input::placeholder,
textarea::placeholder {
  color: #4f8495;
}

.contact-form button {
  border: none;
  background-color: #4f8495;
  color: #fff;
  padding: 10px 15px;
  border-radius: 2px;
}

.contact-form button:hover {
  cursor: pointer;
  background-color: #a1daec;
  color: #000;
}