<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <!--Nav-->
  <nav>
    <ul class="nav-menu">
      <a href=""><li>Home</li></a>
      <a href="#experience"><li>Experience</li></a>
      <a href="#projs"><li>Projects</li></a>
      <a href="#about"><li>About</li></a>
      <a href="{{ url_for('timeline') }}">TIMELINE</a>
    </ul>
  </nav>

  <body class="max-width">
    <!--Home Section-->
    <div class="home">
      <div class="left">
        <h1>Ishami Rulinda</h1>
        <p>
          <span class="tag">Developer</span> | <span class="tag">Fellow</span> |
          <span class="tag">Student</span>
        </p>
        <ul class="links">
          <a href="https://github.com/"><li><i class="fa-brands fa-linkedin" style="font-size: 2em"></i></li>
          </a><a href=""><li><i class="fa-brands fa-github" style="font-size: 2em"></i></li></a>
          <a href=""><li><i class="fa-solid fa-envelope" style="font-size: 2em"></i></li></a>
        </ul>
      </div>
      <div class="right">
        
      </div>
    </div>

    <!--Experiences -->
    <div id="experience" class="experience">
      <h1>Experience</h1>
      
      <div class="exp-cards">
        {% for exp in experiences %}
        <div class="exp-card">
          <h2>{{ exp.name }}</h2>
          <ul>
            {% for pt in exp.descrip %}
            <li>{{ pt }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
        <a class='resume' id="resume-pdf" href=".\static\img\software-engineer-resume-example.pdf" target="_blank">resume.pdf</a>
      </div>
    </div>

    <div id="projs" class="projs">
      <h1>Projects</h1>
      <ul class="proj-cards">
        {% for proj in projects %}
        <li>
          <div href="" class="proj-card">
            <img src="https://i.pinimg.com/originals/2d/38/4a/2d384a99b7f36a636bb9ea81ba5d727f.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <div class="card__header-text">
                  <h3 class="card__title">{{ proj.name }}</h3>            
                  <span class="card__status">Teck Stack: JS, html, CSS</span>
                </div>
              </div>
              <p class="card__description">{{ proj.descrip }}</p>
              <div class="proj-buttons">
                <a href="{{ proj.git }}"><button style="background-color: #a9e1a4;">GitHub</button></a>
                <a href="{{ proj.demo }}"><button style="background-color: #5872d0;">Demo</button></a>
              </div>
            </div>
            
          </div>      
        </li>
        {% endfor %}
      </ul>

    <!--About Me Section-->
    <div id="about" class="about-section">
      <h1>About</h1>
      <div class="about-text">
        <p>
          Hello, my name is Ishami Rulinda and I am a student at Queen's University 
          working towards a bachelor in Computer Science and Biology. 
          I have interests in machine learning, DevOps, and web & game development. 
          I love learning and teaching myself old and new tools to build cool projects! 
        </p>
      </div>
      <div class="row-cols-1">
        {% for pol in polaroids %}
        <div class="polaroid">
          <a
            class="caption"
            href="#"
            style="font-size: 1px"
            title="{{ pol.caption }}"
          >
            <img
              height="250"
              src="{{ pol.pic }}"
              alt="Santorini"
              title="Santorini"
            />
          </a>
        </div>
        {% endfor %}
      </div>
  </body>
</html>
